* {
  list-style: none;
}

body a {
  text-decoration: none;
}

header {
  height: 110px;
}

.main-logo {
  max-width: 80px;
}

.main-navigation {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.main-navigation li {
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.main-navigation li a {
  color: #585858;
  border-bottom: 5px solid transparent;
  transition: all 0.4s ease-in-out;
}
.main-navigation li a:hover {
  color: #0182F9;
  border-bottom: 5px solid #0182F9;
}

.main-navigation li a.active {
  color: #0182F9;
  border-bottom: 5px solid #0182F9;
}

main {
  background-color: #1f1f1f;
  color: white;
}

.card-site {
  width: 16.6666666667%;
}

.card-image {
  max-height: 190px;
  overflow: hidden;
}
.card-image:hover {
  cursor: pointer;
}

.card-text {
  text-transform: uppercase;
}
.card-text a {
  color: white;
  transition: all 0.4s ease-in-out;
}
.card-text a:hover {
  color: #0182F9;
}

.load-btn {
  width: 10%;
  margin: 0 auto;
  background-color: #0182F9;
  border: 2px solid transparent;
  transition: all 0.4s ease-in-out;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
}
.load-btn:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #0182F9;
  color: #0182F9;
}

.footer-color-bar {
  height: 20px;
  background-color: #0182F9;
}

footer {
  background-color: #303030;
}
footer button {
  height: 50px;
  width: 170px;
  border: 2px solid #0182F9;
  background: transparent;
  color: white;
  transition: all 0.4s ease-in-out;
}
footer button:hover {
  cursor: pointer;
  background: #0182F9;
  color: #303030;
  box-shadow: 3px 3px 7px 0px black;
}

.follow-container .follow {
  color: #0182F9;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.socials-container ul li {
  padding: 0 10px;
}

.jumbo {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
}

.detail-bar {
  height: 80px;
  background-color: #0182F9;
}

.container.details {
  max-width: 1000px;
  position: relative;
}

.comic-detail-image {
  top: -320px;
  border: 2px solid white;
}

.comic-detail-tags {
  background-color: #01A8DC;
  color: white;
  font-size: 14px;
}
.comic-detail-tags a {
  color: white;
}

.comic-detail-tags.view-gallery {
  bottom: 0;
}

.comic-detail-title {
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #103F60;
}

.comic-detail-container {
  padding: 8rem 0;
  color: #5f5f5f;
}

.comic-detail-price-availability {
  height: 50px;
  background-color: #55BA5A;
  color: rgba(255, 255, 255, 0.548);
}
.comic-detail-price-availability span {
  color: white;
}

.comic-detail-ad {
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.comic-detail-ad img {
  cursor: pointer;
}

.check-availability {
  width: 45%;
  border-left: 2px solid rgba(70, 70, 70, 0.384);
}