.jumbo {
    height: 400px;
    background-image: url('../img/jumbotron.jpg')
}

.detail-bar {
    height: 80px;
    background-color: $primary-col;
}

.container.details {
    max-width: 1000px;
    position: relative;
}

.comic-detail-image {
    top: -320px;
    border: 2px solid white;
}

.comic-detail-tags {
    background-color: #01A8DC;
    color: $secondary-font-col;
    font-size: 14px;
    a {
        color: white;
    }
}

.comic-detail-tags.view-gallery {
    bottom: 0;
}

.comic-detail-title {
    text-transform: uppercase;
    font-family: $main-font;
    color: #103F60;
}

.comic-detail-container {
    padding: 8rem 0;
    color: rgb(95, 95, 95);
}

.comic-detail-price-availability {
    height: 50px;
    background-color: #55BA5A;
    color: rgba(255, 255, 255, 0.548);
    span {
        color: $secondary-font-col;
    }
}

.comic-detail-ad {
    font-family: $main-font;
    img {
        cursor: pointer;
    }
}

.check-availability {
    width: 45%;
    border-left: 2px solid rgba(70, 70, 70, 0.384);
}