.footer-color-bar {
    height: 20px;
    background-color: $primary-col;
}

footer {
    background-color: $footer-background;
    button {
        height: 50px;
        width: 170px;
        border: 2px solid $primary-col;
        background: transparent;
        color: white;
        transition: all 0.4s ease-in-out;
        &:hover {
            cursor: pointer;
            background: $primary-col;
            color: #303030;
            box-shadow: 3px 3px 7px 0px black;
        }
    }
}

.follow-container {
    .follow {
        color: $primary-col;
        font-family: $main-font;
    }
}

.socials-container {
    ul {
        li {
            padding: 0 10px;
        }
    }
}