header {
    height: 110px;
}

.main-logo {
    max-width: 80px;
}

.main-navigation {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $main-font;
    li {
        height: 100%;
        color: $primary-col;
        border-bottom: 3px solid transparent;
        transition: all 0.4s ease-in-out;
        &:hover {
            border-bottom: 3px solid $primary-col;
        }
    }
}

